body { 
	font-family: 'Open Sans', sans-serif;
	}



/* ==========================================================================
   Navigation Styles
   ========================================================================== */

a.nav-expander {
  /* background: none repeat scroll 0 0 rgba(0,0,0,0.6);  BACKGROUND UNDER LOGO */
  color: #FFFFFF;
  display: block;
  
  /* font-size: 15px; */
  font-size: 24px;
  
  /*font-weight: 400;*/
  height: 70px;
  margin-right: 0;
  /*padding: 1em 1.6em 2em;*/
  padding: 10px 17px;
  position: absolute;
  /*                                    */ left: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  /*                                    */ transition: left 0.3s ease-in-out 0s;
  width: 50px; /* sets clickable area for hamburger */
  z-index: 12000000;

  /*                                    */ transition: left 0.3s ease-in-out 0s;
 /*                                    */  -webkit-transition: left 0.3s ease-in-out 0s;
 /*                                    */  -moz-transition: left 0.3s ease-in-out 0s;
 /*                                    */  -o-transition: left 0.3s ease-in-out 0s;

}

a.nav-expander:hover {
  cursor: pointer;
}

a.nav-expander.fixed {
  position: fixed;
}

.nav-expanded a.nav-expander.fixed {
 /*                left: 20;        */   left: 12.5;
}

nav {
  background: #3591cc;
  background: rgba(53,145,204,1.0);
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  /*                                    */ left: -20em;
  font-size: 15px;
  top: 0;
  width: 20em;
  z-index: 1000; /* z-index: 2000;
  
 /*                                    */  transition: left 0.3s ease-in-out 0s;
  /*                                    */ -webkit-transition: left 0.3s ease-in-out 0s;
 /*                                    */  -moz-transition: left 0.3s ease-in-out 0s;
  /*                                    */ -o-transition: left 0.3s ease-in-out 0s;

}
.nav-expanded nav {
/*                                    */   left: 0;
}

body.nav-expanded {
  margin-left: 0em;
 /*                                    */  transition: left 0.4s ease-in-out 0s;
  /*                                    */ -webkit-transition: left 0.4s ease-in-out 0s;
 /*                                    */  -moz-transition: left 0.4s ease-in-out 0s;
 /*                                    */  -o-transition: left 0.4s ease-in-out 0s;
}

#nav-close {
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-weight: 300;
  font-size: 24px;
  padding-right: 10px;
}

.main-menu {
  padding-top: 21px; /* padding-top: 12px; */
}

.main-menu li {
  border-bottom: 1px solid #fff;
  margin-left: 20px;
  font-size: 18px;
  padding: 12px;
  font-weight: 600;
}

.main-menu li.sub-nav {
	font-weight: 400;
}

.main-menu li a {
  color: #fff;
  text-decoration: none;
}

.main-menu li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.main-menu li .sub-nav {
  border-bottom: 0px;
  padding: 4px;
}

/* caret after change to PLUS and float right */
.main-menu a .caret {
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
	border-top: 4px solid #fff;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
    margin-top: 8px;
    float: right;
    
}

.main-menu a:hover .caret {
	border-top-color: red; /* #4f5963 */
}

/* caret after dropdown activated */
.main-menu li.open > a > .caret {
	border-top: none;
	border-bottom: 4px solid #fff;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	
}

.main-menu li.open > a:hover > .caret {
	border-bottom-color: #fff;
}

.icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f105'; /* /f135 rocket on li hover */
}

.main-menu li > a > span.icon {
 /*                                    */  float: right;
  margin: 0.1em 1.7em -0.1em 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.main-menu li > a:hover > span.icon {
/*                                    */   float: right;
  margin: 0.1em 0.8em -0.1em 0;
  opacity: 1;
}


.navbar {
	min-height: 70px;
}






.navbar-inverse {
  background: transparent;
}

.fade-background {
	
	  background-color: #3591cc;
	  background-color: rgba(53,145,204,0.75);
	  
	  -webkit-transition: background-color 3s;
    transition: background-color 3s;
	
}

.fade-transparent {
	
	  background-color: transparent;
	  
	  -webkit-transition: background-color 1s;
    transition: background-color 1s;
	
}






.vungle-logo {
	width: 110px;
	margin-top: 0.5em;
	margin-left: 3.5em;
}

.navbar-brand {
	float: left;
	padding: 14px 15px;
	margin-top: 10px;
}
.navbar-inverse .navbar-brand {
color: #fff;
}
.navbar-inverse .navbar-brand:hover {
background-color: #3591cc;
border-radius: 6px;

-webkit-transition: background-color 1s;
    transition: background-color 1s;
}

.navbar-inverse {
border-color: transparent;
}

.jumbotron {
	background-color: #999;
}

.plus-sign {line-height: 1.6;}









