body {
	background: url('bg.jpg') no-repeat;
	background-color: #e2e2e2;
	
	-o-background-size:100% auto;
	-webkit-background-size:100% auto;
	-moz-background-size:100% auto;
	background-size:100% auto;
	
	color: #595959;
	}

.vungle-logo {
	width: 110px;
}

h1 {
	font-family: 'Arvo', serif;
}

p {

	font-family: 'Open Sans', sans-serif;
}

a {
	color: #3591cc;
}
a:hover {
	color: #222;
	text-decoration: none;
}