body{
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Franklin Gothic', Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Arvo', 'Rockwell', Georgia, Times, 'Times New Roman', serif;
}

/* primary colors */
.blue {
	color: #2f90ce;
	color: rgba(47,144,206,1);
}
.gray {
	color: #777;
	color: rgba(119,119,119,1);
}
.lightgray {
	color: #bbb;
	color: rgba(187,187,187,1);
}

.secondary-nav fill {
	color: #f7f7f7;
	color: rgba(247,247,247,1);
}

.secondary-nav stroke {
	color: #e6e7e8;
	color: rgba(230,231,232);
 
/*secondary colors*/
.purple {
	color: #a864a8;
	color: rgba(168,100,168,1);
}
.darkblue {
	color: #3a54a5;
	color: rgba(58,84,165,1);
}
.orange {
	color: #fbae3f;
	color: rgba(251,174,63,1);
}
.red {
	color: #de6143;
	color: rgba(222,97,67,1);
}

/* ZenDEsk */
Color 1 #FFFFFF
Color 2 #F7F7F7
Color 3 #BBBBBB
Color 4 #777777
Color 5 #2F90CE