		.background-section{
			height: 100vh;
			background: url('../img/product.jpg');
			background-position: center center;
			background-size: cover;
			color: #666;
		}
		.background-section h1, .background-section h2, .background-section h3 {
			margin-top: 20vh;
			color: #666;
		}
		
		.team-section{
			height: 70vh;
			background: url('../img/about/team.jpg');
			background-position: center center;
			background-size: cover;
			color: #fff;
		}
		.team-section h1, .background-section h2, .background-section h3 {
			margin-top: 35vh;
		}