

.button-container {
	  bottom: 0;
  position: absolute;
 
 
  width: 100%;
  max-width: 100%;
  
}
.jumbo-col {
	padding: 20px 0;
	/*width: 100%;*/
}

.jumbo-col-middle {
	margin: 0 8px;
}
.jumbo-col-edge {
	margin: 0 -4px;
}

.jumbo-btn h2 {
	margin: 0;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 300;
}

.jumbo-btn, a:hover.jumbo-btn, a:active.jumbo-btn, a:visited.jumbo-btn, a:focus.jumbo-btn  {
	color: #fff;
	text-decoration: none;
}
.jumbo-btn > div {

	background: rgba(0,0,0,0.5);
}
.jumbo-btn > div:hover {
	background: rgba(0,0,0,0.8);
}

.subline {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Franklin Gothic', Arial, sans-serif;
	margin: 60px 0;
	font-weight: 300;
	font-size: 24px;
	line-height: 1.5em;
}

.img-responsive .full {
	width: 100%;
}

.customer {
	position: relative;
}

.our-customers blockquote {
border-left: none;
position: absolute;
top: 0;
color: #fff;
background: rgba(47,144,206,0.5);
height: 100%;
opacity: 0;
transition: opacity 1s;

padding: 30px 20px;
text-align: center;

}
.our-customers blockquote:hover {
	opacity: 1;
	transition: opacity 1s;
}

.our-customers blockquote footer {
	color: #fff;
}


.customer-name {
	pointer-events: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(0,0,0,0.6);
	margin-right: 20px;
}
.customer-name h3 {
	text-align: center;
	color: #fff;
	margin-bottom: 20px;
}

	    .dark-gray-box {
		    background-color: #b8b8b8;
		    color: #666666;
		    padding: 20px;
	    }    
	    .dark-gray-box img {
		    max-width: 33%;
		    padding: 20px 40px;
		    height: auto;
	    }   
	    
	    .gray-box {
		    background-color: #e6e7e8;
		    padding: 20px;
		      font-size: 80%;
	    }    
	    .gray-box img {
		    max-width: 33%;
		    height: auto;
		    padding: 0 60px;
	    }    
	    
	    .premium img {
		    padding: 10% 20%;
	    }
	    #engage li {
		    list-style-type: none;
	    }
	    .dash li:before {
		    content: "— ";
		      margin-left: -27px;
		      list-style-type: none;
		    
	    }
	    
	    .partner-logos img {
		    padding: 0 10px;
	    }
