/*adds responsive viewport fix for ie10*/
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}
body { 
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Franklin Gothic', Arial, sans-serif;
	color: #333;
	font-size: 21px; /* RETHINK BODY FONT SIZE, MAY NOT BE THE MOST EFFICIENT PLACE FOR IT manual style on sub-nav li's */
	font-weight: 300;
	}
h1, .h1
 {
  font-family: 'Arvo', 'Rockwell', 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
}
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 
 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Franklin Gothic', Arial, sans-serif;
}

.page-header {
	border: none;
}
.padded{ margin-top:109px;} /* CHANGED FROM PADDING */

a:hover, a:focus {
	color: #2f90ce;
}

/* ==========================================================================
   Navigation Styles
   ========================================================================== */

a.nav-expander {
  /* background: none repeat scroll 0 0 rgba(0,0,0,0.6);  BACKGROUND UNDER LOGO */
  color: #FFFFFF;
  display: block;
  
  /* font-size: 15px; */
  font-size: 24px;
  
  /*font-weight: 400;*/
  height: 70px;
  margin-right: 0;
  /*padding: 1em 1.6em 2em;*/
  padding: 10px 17px;
  position: absolute;
  /*                                    */ left: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  /*                                    */ transition: left 0.3s ease-in-out 0s;
  width: 50px; /* sets clickable area for hamburger */
  z-index: 12000000;

  /*                                    */ transition: left 0.3s ease-in-out 0s;
 /*                                    */  -webkit-transition: left 0.3s ease-in-out 0s;
 /*                                    */  -moz-transition: left 0.3s ease-in-out 0s;
 /*                                    */  -o-transition: left 0.3s ease-in-out 0s;

}

a.nav-expander:hover {
  cursor: pointer;
}

a.nav-expander.fixed {
  position: fixed;
}

.nav-expanded a.nav-expander.fixed {
 /*                left: 20;        */   left: 12.5;
}

nav {
  background: #3591cc;
  background: rgba(53,145,204,1.0);
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  /*                                    */ left: -20em;
  font-size: 15px;
  top: 0;
  width: 20em;
  z-index: 10000000; /* z-index: 2000;
  
 /*                                    */  transition: left 0.3s ease-in-out 0s;
  /*                                    */ -webkit-transition: left 0.3s ease-in-out 0s;
 /*                                    */  -moz-transition: left 0.3s ease-in-out 0s;
  /*                                    */ -o-transition: left 0.3s ease-in-out 0s;

}
.nav-expanded nav {
/*                                    */   left: 0;
}

body.nav-expanded {
  margin-left: 0em;
 /*                                    */  transition: left 0.4s ease-in-out 0s;
  /*                                    */ -webkit-transition: left 0.4s ease-in-out 0s;
 /*                                    */  -moz-transition: left 0.4s ease-in-out 0s;
 /*                                    */  -o-transition: left 0.4s ease-in-out 0s;
}

#nav-close {
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-weight: 300;
  font-size: 24px;
  padding-right: 10px;
}

.main-menu {
  padding-top: 58px; /* padding-top: 12px; */
}

.main-menu > li:first-child {
	border-top: 1px solid #fff;
	}

.main-menu li {
  border-bottom: 1px solid #fff;
  margin-left: 20px;
  font-size: 18px;
  padding: 12px;
  font-weight: 600;
}

.main-menu li.sub-nav {
	font-weight: 400;
}

.main-menu li a {
  color: #fff;
  text-decoration: none;
}

.main-menu li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.main-menu li .sub-nav {
  border-bottom: 0px;
  padding: 4px;
}

/* caret after change to PLUS and float right */
.main-menu a .caret {
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
	border-top: 4px solid #fff;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
    margin-top: 8px;
    float: right;
    
}

.main-menu a:hover .caret {
	border-top-color: red; /* #4f5963 */
}

/* caret after dropdown activated */
.main-menu li.open > a > .caret {
	border-top: none;
	border-bottom: 4px solid #fff;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	
}

.main-menu li.open > a:hover > .caret {
	border-bottom-color: #fff;
}

.icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f197'; /* /f105 arrow on li hover */
}
.contact:before {
	content: '\f1d8';
}
.sign-up:before {
  content: '\f234';
}
.login:before {
	content: '\f090';
}

.main-menu li > a > span.icon {
 /*                                    */  float: right;
  margin: 0.1em 1.7em -0.1em 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.main-menu li > a:hover > span.icon {
/*                                    */   float: right;
  margin: 0.1em 0em -0.1em 0; 
  opacity: 1;
}


.navbar {
	height: 58px;
	z-index: 1000000000;
}






.navbar-inverse {
  background: transparent;
}

.fade-background {
	
	  background-color: #3591cc;
	  background-color: rgba(53,145,204,1); /* BACGROUND COLOR AFTER SCROLL of x px */
	  
	  -webkit-transition: background-color 3s;
    transition: background-color 3s;
	
}

.fade-transparent {
	
	  background-color: transparent;
	  
	  -webkit-transition: background-color 1s;
    transition: background-color 1s;
	
}






.vungle-logo {
	width: 66px;
	margin: 12px;
}

.navbar-brand {
	float: left;
	padding: 14px 15px;
	margin-top: 10px;
}
.navbar-inverse .navbar-brand {
color: #fff;
}
.navbar-inverse .navbar-brand:hover {
background-color: #3591cc;
border-radius: 6px;

-webkit-transition: background-color 1s;
    transition: background-color 1s;
}

.navbar-inverse {
border-color: transparent;
}

.plus-sign {line-height: 1.6;}

/* WOW.js fix */
  .wow {
	   visibility: hidden;
	}

/* BUTTON STYLES */
.btn {text-transform: uppercase;}

.btn-primary {
	background: #2f90ce;
	color: #fff;
	transition: background 500ms, color 500ms; 
}
.btn-primary:hover {
	color: #2f90ce;
	background: #fff;
	border: 1px solid #2f90ce;
	transition: background 500ms, color 500ms; 
}
	
.btn-secondary {
	background: #ffffff;
	border: 1px solid #2f90ce;
	color: #2f90ce;
	text-transform: uppercase;
	font-size: 1em;
	transition: background 500ms, color 500ms;
}
.btn-secondary:hover, .btn-secondary:active {
	background: #2f90ce;
	border: 1px solid #2f90ce;
	color: #fff;
	transition: background 500ms, color 500ms;
}
.btn .fa {
	vertical-align: middle;
	margin-top: -0.125em;
	font-size: 1.3em
}



/* force 100% width on images */
.full {
	width: 100%;
}

.footer a, footer a:active, .subscribe a, .subscribe a:active {
	color: #ffffff;
	transition: color 500ms;
}

footer a:hover {
	color: #2f90ce;
	transition: color 500ms;
	text-decoration: none;
}

.footer .flags h1 {
	display: inline;
	padding: 0 20px 0 0;
}
.footer .flags span {
	 border-radius: 4px;
}

.footer {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Franklin Gothic', Arial, sans-serif;
	background: #333;
	color: #fff;
																									/*margin-top: 40px;*/
	padding-bottom: 24px;
}

.footer i {
	margin: 0 20px 0 0;
}
.footer h3, .footer h4 {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Franklin Gothic', Arial, sans-serif;
	text-transform: uppercase;
}
.footer h3 {
	font-size: 20px;
}
.footer h4 {
	font-size: 16px;
}
.footer h4 {
	margin: 24px 0 10px 0;
}

.footer ul {
	padding: 0;
}
.footer ul li {
	list-style-type: none;
	font-size: 0.8em;
}








