body{
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Franklin Gothic', Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Franklin Gothic', Arial, sans-serif;
}
#logo {display:none;}
a {
	color: #2060d8;
}
a:hover, a:active, a:visited {
	color: #3e72d2;
}

.button {
	background-color: #2060d8;
	background-color: #2060d8;
	background-image: -webkit-linear-gradient(top, #2060d8, #2060d8);
	
	transition: background-color 300ms ease-out;
}
.button:hover {
	background-color: #1d56c2;
	background-color: #1d56c2;
	background-image: -webkit-linear-gradient(top, #2060d8, #2060d8);
	
}